<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= data.name %></title>
</head>
<body>
    <h1><%= data.name %></h1>
    <h2>Rank: <%= data.rank %></h2>
    <h3>Price: <%= data.sign %> <%= data.price %> <%= data.symbol %></h3>
    <p> <%= data.description %> </p>
    <img src=" <%= data.image %> " alt="">
</body>
</html>